{% extends "AcmeEmailNotificationBundle::master.em.twig" %}

{% block content %}

<p>
  Hello,<br><br>
  Attached you can find the logs file for Meineke stores cron import script.
</p>

{% endblock %}
