{% extends "AcmeEmailNotificationBundle::master.em.twig" %}

{% block content %}

<p>
	Dear {{ receiverFirstName }} {{ receiverLastName }},<br>
	Your password for Meineke Rewards has been reset. Your new password is below:<br><br>
	=======================<br>
	<b>Password : {{ password }}</b><br>
  =======================<br><br>
  You can now login with your new password. Please go to your account page if you need to change it again.
</p>

{% endblock %}
