{% extends "AcmeEmailNotificationBundle::master.em.twig" %}

{% block content %}

  <p>
  	Dear {{receiverFirstName}} {{receiverLastName}},<br><br>
  	You are receiving this e-mail because you requested to reset your password. Please go to the following URL so that we can reset your password:<br><br>
      <a href="{{ resetUrl }}" target="_blank">{{ resetUrl }}</a><br><br>
      and then follow the instructions on the site.<br><br>
      <strong>If you didn't request to change the password please ignore this email.</strong>
  </p>

{% endblock %}
